*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Robotobold.ttf);
    font-weight: bold;
}

body{
    font-family: Roboto, sans-serif;
}

.header{
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header .container{
    display: flex;
    align-items: center;
}

.logo img{
    vertical-align: bottom;
}

.menu{
    margin-left: 244px;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu-item{
    margin-right: 115px;
}

.menu-item a{
    font-size: 15px;
    text-decoration: none;
    color: #030305;
}

.menu-item a:hover{
    border-bottom: 2px solid black;
}

.main{
    background-image: url(../images/background.png);
    background-position: center;
    background-size: cover;
    padding: 104px 0px 154px 0px;
}

.main-info{
    width: 855px;
}

.main-title{
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
}

.main-text{
    font-size: 16px;
    line-height: 130%;
    color: #030305;
    margin-bottom: 40px;
    max-width: 502px;
}

.button{
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
}

.button:hover{
    cursor: pointer;
    background: #575757;
}

.car{
    padding: 100px 0px;
}

.sub-title{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #030305;
}

.car-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.car-item{
    width: 384px;
    text-align: center;
    margin-top: 40px;
}

.car-item-image:hover img {
    transform: scale(1.1);
}
.car-item-image img {
    vertical-align: bottom;
    transition: all .3s;
}

.car-item-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 15px 0px 17px 0px;
}

.car-item-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-item-point{
    width: 110px;
    height: 92px;
    margin: 0 7.5px;
}

.car-item-point img{
    margin-bottom: 13px;
}

.car-item-action{
    width: 100%;
    margin-top: 13px;
}

.car-item-action .button{
    width: 100%;
    padding: 15px;
    height: 54px;
}

.car-item-point > div:nth-child(2){
    font-weight: bold;
}

.price{
    overflow: hidden;
}

.price .container{
    position: relative;
    margin-bottom: 121px;
}

.price .sub-title{
    margin-bottom: 20px;
}

.price-text{
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 60px;
}

.price-form{
    max-width: 344px;
}

.price-input{
    padding: 22px 18px;
    width: 344px;
    height: 65px;
    background: #fff;
    border: 1px solid #5d5d5f;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
}

.price-input::placeholder{
    color: #5d5d5f;
}

.price .button{
    width: 100%;
}

.price-image{
    position: absolute;
    bottom: -80px;
    left: 401px;
}

.footer{
    border-top: 1px solid #e5e5e5;
    padding: 25px 0px;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights{
    font-size: 15px;
    color: #030305;
}